/*!
 * @version 0.2.0
 * @date 2019-07-16
 * @generated web
 */
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.note {
  height: 100%;
  width: 100%;
  padding: 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.note_content {
  border-radius: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}
.note_content,
.note_shape {
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.note_shape {
  position: relative;
  -webkit-animation: breathe 1s ease-in-out infinite alternate both;
  animation: breathe 1s ease-in-out infinite alternate both;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.note--active .note_content {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.note--ani .note_shape {
  -webkit-animation: rotateY 0.3s;
  animation: rotateY 0.3s;
}
@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn);
  }
}
@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn);
  }
}
@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes breathe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
.shape {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  float: left;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-radial-gradient(
    circle closest-side,
    rgba(0, 0, 0, 0) 15%,
    rgba(255, 252, 183, 0.3) 55%,
    rgba(0, 0, 0, 0) 85%
  );
  background: -o-radial-gradient(
    circle closest-side,
    rgba(0, 0, 0, 0) 15%,
    rgba(255, 252, 183, 0.3) 55%,
    rgba(0, 0, 0, 0) 85%
  );
  background: radial-gradient(
    circle closest-side,
    rgba(0, 0, 0, 0) 15%,
    rgba(255, 252, 183, 0.3) 55%,
    rgba(0, 0, 0, 0) 85%
  );
}
.shape:after {
  content: '';
  -webkit-box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.5);
  display: block;
  width: 50%;
  height: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fefcb2;
  -webkit-box-shadow: 0 0 2px 0 #fefcb2;
  box-shadow: 0 0 2px 0 #fefcb2;
}
.rect:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cicle:after {
  border-radius: 50%;
}
.main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 2%;
}
.keyboard {
  height: 68vmin;
  max-height: 380px;
  width: 113.33333vmin;
  max-width: 633.33333px;
  list-style: none;
  margin: 0 auto;
}
.keyboard:after,
.keyboard:before {
  display: block;
  content: '';
  clear: both;
}
.keyboard li {
  width: 20%;
  height: 33.33333%;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pipline {
  height: 100px;
}
body,
ul {
  padding: 0;
  margin: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 900px;
  perspective: 900px;
}
#app {
  float: left;
  height: 100vmin;
  width: 100vmax;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background: url(../../static/img/bg.d24257d1.jpg) no-repeat 50%/100%;
  background-size: cover;
}
.version {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}
@media screen and (orientation: portrait) {
  #app {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
