body,
ul {
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-style: preserve-3d;
  perspective: 900px;
}

#app {
  float: left;
  height: 100vmin;
  width: 100vmax;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s;
}

.main {
  margin: 2% auto 0;
}

.set-bg {
  position: absolute;
  top: 6%;
  right: 4%;
}

.version {
  position: absolute;
  right: 15px;
  bottom: 5px;
  opacity: 0.8;
}

.fade-drop-enter-active,
.fade-drop-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-drop-enter,
.fade-drop-leave-to {
  opacity: 0;
}

@media screen and (orientation: portrait) {
  #app {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
